<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Disease Detection in Tomato Plant Leaves"
    />
    <meta name="viewport" content="width=device-width" />
    <title>Home Page | Disease Detection in Tomato Plant Leaves</title>

    <!-- Start favicon ico -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='assets/images/leaf_logo.png') }}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="{{ url_for('static', filename='assets/images/leaf_logo.png') }}"
    />
    <!-- End favicon ico -->

    <!-- Start global css -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/assets/global/plugins/Waves/dist/waves.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/assets/global/plugins/bootstrap/dist/css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/assets/icons_fonts/font-awesome/css/font-awesome.min.css')}}"
    />
    <!-- End global css -->

    <!-- Start page plugin css -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/assets/global/plugins/animate.css/animate.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/assets/global/plugins/sweetalert2/dist/sweetalert2.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/assets/global/plugins/datatables/media/css/dataTables.bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/assets/global/plugins/datatables/media/css/jquery.dataTables.min.css')}}"
    />
    <!-- End page plugin css -->

    <!-- Start template global css -->
    <link
      href="{{ url_for('static', filename='assets/assets/global/css/components.min.css')}}"
      type="text/css"
      rel="stylesheet"
    />
    <!-- End template global css -->

    <!-- Start layout css -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/assets/layouts/layouts_left_menu/left_menu_layout.min.css')}}"
    />
    <!-- End layout css -->

    <style>
      .nav-medium .medium-logo {
        display: flex;
      }

      .medium-logo img,
      .medium-logo h5 {
        align-content: center;
      }

      .medium-logo img {
        width: 30px !important;
        height: 30px !important;
      }

      /* Styling untuk overlay loading */
      .loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      /* Styling spinner */
      .spinner {
        border: 8px solid rgba(255, 255, 255, 0.3);
        border-top: 8px solid white;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
      }

      .loading-text {
        margin-top: 20px;
        color: white;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>
  <body class="nav-medium">
    <div class="container body">
      <div class="main_container">
        <!-- Start Loader -->
        <div class="page-loader">
          <div class="preloader loading">
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
          </div>
        </div>
        <!-- End Loader -->

        <!-- Start Scroll Top -->
        <a href="javascript:" id="scroll" style="display: none"
          ><span></span
        ></a>
        <!-- End Scroll Top -->

        <!-- start Left Menu-->
        <div class="col-md-3 left_color">
          <div class="left_color scroll-view">
            <div class="navbar nav_title">
              <a href="/dashboard" class="medium-logo d-flex">
                <img
                  width="20px"
                  src="{{ url_for('static', filename='assets/images/leaf_logo.png')}}"
                  alt="medium-logo"
                />
                <h5 style="color: white">Tomato Leaf Guard</h5>
              </a>
              <a href="/dashboard" class="small-logo">
                <img
                  src="{{ url_for('static', filename='assets/images/leaf_logo.png')}}"
                  alt="small-logo"
                />
              </a>
            </div>

            <div class="clearfix"></div>

            <!-- sidebar menu -->
            <div
              id="sidebar-menu"
              class="main_menu_side hidden-print main_menu"
            >
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li class="current-page">
                    <a class="waves-effect waves-light" href="/dashboard"
                      ><i class="fa fa-home"></i> Dashboard</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="">
                <span
                  style="visibility: collapse"
                  class="fa fa-cog"
                  aria-hidden="true"
                ></span>
              </a>
              <a
                class="toggle-fullscreen"
                data-toggle="tooltip"
                data-placement="top"
                title=""
              >
                <span
                  style="visibility: collapse"
                  class="fa fa-arrows-alt"
                  aria-hidden="true"
                ></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="">
                <span
                  style="visibility: collapse"
                  class="fa fa-lock"
                  aria-hidden="true"
                ></span>
              </a>
              <a
                data-toggle="tooltip"
                data-placement="top"
                title="Logout"
                href="/"
              >
                <span class="fa fa-power-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>
        <!-- End Left Menu -->

        <!-- start top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                <div class="responsive-logo">
                  <a href="/dashboard">
                    <img
                      src="{{ url_for('static', filename='assets/images/leaf_logo.png')}}"
                      alt="main-logo"
                    />
                  </a>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="clearfix"></div>
        <!-- End top navigation -->

        <!-- Start Contain Section -->
        <div class="container-fluid right_color">
          <div class="page-main-header">
            <!-- Page Title -->
            <h2 class="page-name-title">Dashboard</h2>
            <!--  Breadcrumb -->
            <ol class="breadcrumb">
              <li class="active">Dashboard</li>
            </ol>
          </div>

          <div class="contain-section">
            <div class="contain-inner-section">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="section-header">
                    <h2>Tomato Leaf Disease Detection</h2>
                    <p>
                      Upload your image and start detection to know the disease!
                    </p>
                  </div>
                  <div class="section-body">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h3>Kriteria File Yang Bisa Diupload</h3>
                                <h3>File Gambar</h3>
                                <ul>
                                    <li>File type: jpg, png, webp, jpeg</li>
                                    <li>Max file size: 10mb</li>
                                    <li>Min file upload: 1</li>
                                </ul>

                                <h3>File Zip</h3>
                                <ul>
                                    <li>File type: zip</li>
                                    <li>Max file size: 10mb</li>
                                    <li>Max file upload: 1</li>
                                    <li>Format path: folder/image.jpg</li>
                                </ul>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <form action="/predict_download" method="post" id="formDownload"></form>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="section-header">
                                    <h2>Statistik Hasil Deteksi</h2>
                                </div>
                                <div id="statistik_result">
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <form
                              id="formPredict"
                              action="/predict"
                              method="post"
                              enctype="multipart/form-data"
                            >
                              <label>Upload Your Files</label>
                              <div class="form-group file-control-upload">
                                <input
                                  class="form-control"
                                  type="file"
                                  multiple="multiple"
                                  name="images[]"
                                  accept="image/*"
                                />
                              </div>

                              <div class="form-group">
                                <button
                                  type="submit"
                                  class="btn btn-primary btn-outline float-button-light waves-effect waves-button waves-float waves-light"
                                >
                                  Submit
                                </button>
                              </div>
                            </form>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="section-header">
                              <h2>Tabel Hasil Deteksi</h2>
                            </div>
                            <div class="section-body">
                              <table
                                id="datatable-results"
                                class="display datatable-default"
                              >
                                <thead>
                                  <tr>
                                    <th>No</th>
                                    <th>Images</th>
                                    <th>Hasil Deteksi</th>
                                  </tr>
                                </thead>
                                <tbody id="result_tbody">
                                </tbody>
                              </table>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Contain Section -->

        <!-- Start Footer Section -->
        <footer class="footer">
          © 2024 All rights reserved. Template designed by
          <a class="text-primary" href="https://github.com/masyuraC7"
            >masyuraC7</a
          >
        </footer>
        <!-- End Footer Section -->
      </div>
    </div>

    <div id="loading" class="loading-overlay" style="display: none;">
        <div class="spinner"></div>
        <div class="loading-text">Please wait a moment, still predicting your image!</div>
    </div>    

    <!-- Start core js -->
    <script src="{{ url_for('static', filename='assets/assets/global/plugins/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/assets/global/plugins/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/assets/global/plugins/Waves/dist/waves.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/assets/global/plugins/screenfull.js/dist/screenfull.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.js')}}"></script>
    <!-- Start core javascript -->

    <!-- Start global js -->
    <script src="{{ url_for('static', filename='assets/assets/global/js/left-menu.min.js')}}"></script>
    <!-- End global js -->

    <!-- Start page plugin js -->
    <script src="{{ url_for('static', filename='assets/assets/global/plugins/sweetalert2/dist/sweetalert2.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/assets/global/js/sweetalert.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/assets/global/plugins/datatables/media/js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/assets/global/js/datatable.min.js')}}"></script>
    <!-- End page js -->

    <script src="{{ url_for('static', filename='assets/js/function.js')}}"></script>
  </body>
</html>
